.cart {
	position: relative;
	display: block;
	width: 30px;
	height: 30px;
}

.cart svg {
	width: 100%;
	height: 100%;
}

.cart__count {
	position: absolute;
	right: -10px;
	top: -10px;
	display: inline-block;
	padding: 2px 7px;
	color: #fff;
	background-color: crimson;
	border-radius: 100%;
}
