.header {
	background-color: rgb(151, 55, 151);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px;

	&__logo {
		font-weight: 700;
		font-size: 25px;
	}
}

.navigation__list {
	display: flex;
	align-items: center;
	gap: 50px;
}

.navigation__item {
}
.navigation__link {
}
