#root {
	font-family: "Montserrat", sans-serif;
	font-family: "Roboto Mono", monospace;
}
.openBtn {
	padding: 10px;
	border-radius: 10px;
}
.butWrapper {
	height: 100px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}

.butnOK,
.butnCancel {
	background-color: #b3382c;
	padding: 20px;
	border-radius: 15px;
}

.cards__wrapper {
	max-width: 1200px;
	margin: 0 auto;
	background-color: rgb(204, 179, 204);

	display: grid;
	place-items: center;
	gap: 20px;
	grid-template-columns: repeat(3, 1fr);
}

svg {
	cursor: pointer;
}
