.root {
	margin-bottom: 10px;
	position: relative;
	padding-bottom: 20px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	gap: 5px;

	label {
		margin-left: 15px;
		font-weight: 800;
		font-size: 20px;
	}
	input {
		box-sizing: border-box;
		padding: 10px 0 10px 20px;
		// background-color: #b92db9;
		border-radius: 10px;
		box-shadow: 0 0 10px 2px rgba(212, 8, 151, 0.6);
		&::placeholder {
			color: #000;
		}
	}
}

.error {
	color: red;
	position: absolute;
	left: 0;
	bottom: 0;
	font-size: 12px;
}
form {
	margin-left: 25px;
	margin-top: 30px;
}
