button {
	padding: 0;
	border: none;
	font: inherit;
	color: inherit;
	background-color: transparent;
	cursor: pointer;
}
.add {
	// padding: 20px;
	// color: #fff;
}
.butnOK,
.butnCancel {
	color: #fff;
}
