#root {
	font-family: "Montserrat", sans-serif;
	font-family: "Roboto Mono", monospace;
}
.openBtn {
	padding: 10px;
	border-radius: 10px;
}
.butWrapper {
	height: 100px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}

.butnOK,
.butnCancel {
	background-color: #b3382c;
	padding: 20px;
	border-radius: 15px;
}
