.card {
	// max-width: 400px;
	background-color: rgb(238, 229, 229);
	padding: 10px 20px;

	&__star {
		display: block;
		text-align: right;
	}
	&__info {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__name {
		color: black;
		font-weight: 700;
		font-size: 25px;
		margin-bottom: 10px;
	}
	&__img {
		display: block;
		margin: 0 auto;
		margin-top: 10px;
		margin-bottom: 10px;
	}
}
.addbtn {
	display: block;
	padding: 20px 30px;
	margin: 20px auto;
	background-color: rgb(209, 61, 142);
	border-radius: 20px;
}
.info__price {
	color: black;
	font-weight: 800;
	font-size: 30px;
	padding: 15px 0;
}
.card__color {
	color: black;
	font-weight: 500;
	font-size: 15px;
	// margin-bottom: 10px;
}
.phone__article {
	font-weight: 700;
	font-size: 15px;
	display: block;
}
.article__number {
	display: block;
}
.info__article {
}
