#root {
	font-family: "Montserrat", sans-serif;
	font-family: "Roboto Mono", monospace;
}
.openBtn {
	padding: 10px;
	border-radius: 10px;
}
.butWrapper {
	height: 100px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}

.butnOK,
.butnCancel {
	background-color: #b3382c;
	padding: 20px;
	border-radius: 15px;
}

svg {
	cursor: pointer;
}

.cards__wrapper {
	max-width: 1200px;
	margin: 0 auto;
	background-color: rgb(204, 179, 204);

	// display: grid;
	// place-items: center;
	// gap: 20px;
	// grid-template-columns: repeat(3, 1fr);

	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 20px;
}
.cart__wrapper {
	display: flex;
	// justify-content: center;
	// flex-wrap: wrap;
	gap: 150px;
}
h3 {
	color: rgb(209, 47, 201);
	font-weight: 800;
	font-size: 25px;
	text-align: center;
	margin: 10px 0;
}
