h1,
h2,
p {
	margin: 0;
	color: #fff;
}

.modal {
	background-color: rgba(0, 0, 0, 0.5);
	width: 100vw;
	height: 100vh;
	z-index: 0;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;

	&__content {
		// padding: 20px;
		border-radius: 12px;
	}
}
.content__header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
	// background-color: #d81959;
	background-color: #d43798;
	margin: 0;
	border-radius: 12px 12px 0 0;
}
.content__main {
	padding: 20px;
	background-color: #d8198f;
	margin: 0;
	border-radius: 0 0 12px 12px;
}
.header__closeCross {
	cursor: pointer;
	margin-left: 50px;
}

.main__butnWrap {
	margin-top: 20px;
	display: flex;
	justify-content: center;
	gap: 50px;
}
